public class Table{
public void Tables(){
   System.out.println("Your table is Here");
     for(int i=10;i<=10;i++){
         for(int j=5;j<=5;i++){
                   Systsem.out.println(i*j);
        System.out.print();
       }
    }
}
  public static void main(String args[]0{
         Table ob=new table();
         ob.Tables():
     }
}
